* {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
@keyframes neon-glow {
    0% {
      box-shadow: 0 0 5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff;
    }
    50% {
      box-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
    }
    100% {
      box-shadow: 0 0 5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff;
    }
  }

  .neon-outer {
    animation: neon-glow 2s infinite;
  }

  .neon-inner {
    animation: neon-glow 2s infinite;
  }

  .neon-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (min-width: 992px) {
    .image-section-responsive {
      margin-left: -40px;
      margin-top: -35px;
      margin-bottom: -35px;
    }
  }
  #card1:hover{
       transform: rotateY(180deg);
       transition: transform 0.8s ease-in-out;

  }
